In [1]:
"""
1. Modify the code below to count 'up' in increments of +2
"""
for word in range(0, 101, 2):
    print (word)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [2]:
"""
2. Change the code below to count down in increments of -2.0
"""
for word in range(100, -1, -2):
    print (word)

100
98
96
94
92
90
88
86
84
82
80
78
76
74
72
70
68
66
64
62
60
58
56
54
52
50
48
46
44
42
40
38
36
34
32
30
28
26
24
22
20
18
16
14
12
10
8
6
4
2
0

In [3]:
"""
3. Create a program that counts up from 0 to 100.  The program is to print "Hello"
when the count is greater than 50 and print "World" when the count is less then or equal to 50
"""
for count in range(0, 101):
    if count > 50:
        print("Hello")
    else:
        print("World")

World
World
World
World
World
World
World
World
World
World
World
World
World
World
World
World
World
World
World
World
World
World
World
World
World
World
World
World
World
World
World
World
World
World
World
World
World
World
World
World
World
World
World
World
World
World
World
World
World
World
World
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [4]:
"""
4. Create a function called char_cnt that takes in a string and outputs a dictionary where
each key represents a unique character and the value is the number of times that character
shows up in the string
"""

def char_cnt(a):
  out = {}
  for i in a:
    if i in out:
      out[i] += 1
    else:
      out[i] = 1
  return out

In [5]:
"""
5.  create a function called rev_list that takes a list as an input and reverses the elements
of a that list, you must use a loop statement or sorts, and you cannot use .reverse() or [::-1]
"""

def rev_list(a):
  out = []
  for i in a:
    out =  [i] + out
  return out

In [6]:
"""
6. Using list comprehension (HINT: []) populate an array whose individual word
character lengths are >= 5 (10 points)
"""
the_sentence = 'the student went above and beyond the call of duty on the homework'

out = []
tokens = the_sentence.split(" ")
for i in tokens:
  if len(i) >= 5:
    out += [i]
out

['student', 'above', 'beyond', 'homework']

In [7]:
"""
7. Fix the errors in the code below and replace the word dog with turtle
"""
import re
the_sentence = 'the orange cat jumped over the dog, but the orange cat landed on another orange cat'

my_ar = re.sub('dog', 'turtle', the_sentence)

my_ar

'the orange cat jumped over the turtle, but the orange cat landed on another orange cat'

In [8]:
"""
8. Create a function called cln_txt that takes a list as an input, the
list will contain tokens, your job is to replace any special characters with
a no space, except '!', with ''
"""

the_ar = ['woah!!!','the','@student',' really^','# impressed','me,','and&','so','did','??you!!!']

def cln_txt(a):
    out = []
    for i in a:
      cleaned = re.sub(r'[^a-zA-Z0-9!]', '', i)
      out.append(cleaned)
    return out

cln_txt(the_ar)

['woah!!!',
 'the',
 'student',
 'really',
 'impressed',
 'me',
 'and',
 'so',
 'did',
 'you!!!']

In [9]:
"""
9. Create a program that loops 10 times and for each loop generate a random integer between 1 and 10,
and print 'even' if the number is even and 'odd' if the number is odd (HINT: import random)
if the number is odd
"""
import random
for i in range(1, 11):
  out = random.randint(1, 10)
  if out%2 == 0:
    print(out, " even")
  else:
    print(out, " odd")

5  odd
10  even
9  odd
6  even
1  odd
8  even
4  even
5  odd
4  even
3  odd

In [10]:
"""
10. Create a function called the_cat which can accept two input strings, the output
of the function will concatenate both string together, with a single space between and print
the total length of the resultant string
i.e. string_1 = "john", string_2 = "doe", function to output "john doe", 9
"""

def the_cat(a, b):
  out = a + " " + b
  return (out + ", " + str(len(out)))
  #I believe the return type should be a string.