In [2]:
str_a = "the weather today is really beautiful"
str_b = "the weather today is nice"

In [8]:
#Jaccardian measure
#intersection (shared number of tokens) / union (total number of tokens)

str_a_s = str_a.split()
str_b_s = str_b.split()

str_a_s_set = set(str_a_s)
str_b_s_set = set(str_b_s)

the_u = str_a_s_set.union(str_b_s_set)
the_i = str_a_s_set.intersection(str_b_s_set)

j_d = len(the_i) / len(the_u) 

print (j_d)

0.5714285714285714

In [45]:
def hello_world():
    print ("Hello World")
    return 0

In [15]:
hello_world()

Hello World

In [16]:
def add_fun(var_a, var_b):
    tmp = var_a + var_b
    return tmp

In [17]:
the_ans = add_fun(4, 8)
print (the_ans)

12

In [39]:
#create a function that takes 2 corpuses and outputs the jaccardian measure
#name the function jd_fun

def jd_fun(str_a_in, str_b_in):
    j_d_i = None #initialization
    try:
        str_a_i_s = str_a_in.split()
        str_b_i_s = str_b_in.split()
        str_a_s_set_i = set(str_a_i_s)
        str_b_s_set_i = set(str_b_i_s)
        the_u_i = str_a_s_set_i.union(str_a_s_set_i)
        the_i_i = str_a_s_set_i.intersection(str_b_s_set_i)
        j_d_i = len(the_i_i) / len(the_u_i) 
    except:
        print ("houston we have an issue")
        pass
    return j_d_i

In [40]:
print (jd_fun("the cat jump over the fence", "the dog chased the cat"))

0.4

In [46]:
print (jd_fun(4, "the dog chased the cat"))
print (hello_world())

houston we have an issue
None
Hello World
0

In [50]:
#dictionary
#key, value pair
#key is unique
the_dictionary = dict()
print (the_dictionary)
the_dictionary["key_a"] = "columbia"

{}

In [51]:
the_dictionary

{'key_a': 'columbia'}

In [52]:
the_dictionary["key_b"] = [1, 4, 6]

In [53]:
the_dictionary

{'key_a': 'columbia', 'key_b': [1, 4, 6]}

In [54]:
the_dictionary["key_b"]

[1, 4, 6]

In [55]:
the_dictionary["key_c"] = {"key_blah": 3.14}

In [57]:
the_dictionary

{'key_a': 'columbia', 'key_b': [1, 4, 6], 'key_c': {'key_blah': 3.14}}

In [59]:
the_keys = the_dictionary.keys()
print (list(the_keys))

['key_a', 'key_b', 'key_c']

In [61]:
#one can convert between data structures

list_a = set([1, 4, 6, 6, 7, 8, 9])
list_a

{1, 4, 6, 7, 8, 9}

In [62]:
the_dictionary

{'key_a': 'columbia', 'key_b': [1, 4, 6], 'key_c': {'key_blah': 3.14}}

In [64]:
the_dictionary["key_a"] = "university"
the_dictionary

{'key_a': 'university', 'key_b': [1, 4, 6], 'key_c': {'key_blah': 3.14}}

In [65]:
#gotcha's with lists

list_a = ["a", "A", "a", "f", "z"]

In [66]:
list_a_copy = list_a

In [68]:
list_a.append("e")
list_a

['a', 'A', 'a', 'f', 'z', 'e']

In [69]:
list_a_copy

['a', 'A', 'a', 'f', 'z', 'e']

In [70]:
list_a_true_copy = list_a.copy()

In [71]:
list_a_true_copy

['a', 'A', 'a', 'f', 'z', 'e']

In [73]:
list_a.append("l")
list_a

['a', 'A', 'a', 'f', 'z', 'e', 'l']

In [74]:
list_a_true_copy

['a', 'A', 'a', 'f', 'z', 'e']

In [79]:
list_e = ["columbia"]
list_f = ["monday", "televsion"]

In [81]:
#list_e.append(list_f) #this does NOT flatten
list_e.extend(list_f) #explodes, flatten
list_e

['columbia', 'monday', 'televsion', 'monday', 'televsion']

In [77]:
list_e

['columbia', ['monday', 'televsion']]

In [82]:
#looping statements
t = [1, 2, 3, 4, 5]
for i in t:
    print (i)

1
2
3
4
5

In [86]:
cnt = 1
while cnt < 10:
    print (cnt)
    #cnt = cnt + 1
    cnt += 1

1
2
3
4
5
6
7
8
9

In [87]:
"""
create function that outputs a dictionary where each key is a unique token (word)
and the value is the number of times that the unique key shows up in the string
input: string
output: dictionary
"""
def word_freq(str_in):
    t_temp = dict()
    i_split = str_in.split()
    for word in set(i_split):
        t_temp[word] = i_split.count(word)
    return t_temp

In [91]:
test_in = "The cat chased the dog up the hill and they came down as best friends"

dictionary_fun = word_freq(test_in.lower())
dictionary_fun

{'up': 1,
 'cat': 1,
 'as': 1,
 'best': 1,
 'the': 3,
 'came': 1,
 'friends': 1,
 'and': 1,
 'dog': 1,
 'chased': 1,
 'down': 1,
 'hill': 1,
 'they': 1}

In [96]:
test_in = "the cat chased the dog up the hill and they came down as best friends"
def word_freq_eff(str_in):
    import collections
    wrd_freq_t = dict(collections.Counter(str_in.split()))
    return wrd_freq_t
wrd_freq = word_freq_eff(test_in)
wrd_freq

{'the': 3,
 'cat': 1,
 'chased': 1,
 'dog': 1,
 'up': 1,
 'hill': 1,
 'and': 1,
 'they': 1,
 'came': 1,
 'down': 1,
 'as': 1,
 'best': 1,
 'friends': 1}

In [99]:
dgvfs = "the class was fun tonight"
print (word_freq_eff(dgvfs))

{'the': 1, 'class': 1, 'was': 1, 'fun': 1, 'tonight': 1}

In [105]:
import pandas as pd
my_pd = pd.DataFrame()
#type(my_pd)
#len(my_pd)

t_l = ["patrick", "john", "sally", "sue"]
#populate a pandas dataframe, where column is name and the other
#char length of the name
for name in t_l:
    tmp = pd.DataFrame({"name": name, "length": len(name)}, index=[0])
    my_pd = pd.concat([my_pd, tmp], ignore_index=True)

In [109]:
my_pd.tail(1)

  name  length
3  sue       3

In [110]:
stats = my_pd.describe()

In [111]:
stats

         length
count  4.000000
mean   4.750000
std    1.707825
min    3.000000
25%    3.750000
50%    4.500000
75%    5.500000
max    7.000000

In [112]:
my_pd.columns

Index(['name', 'length'], dtype='object')

In [113]:
my_pd.columns = ["name", "char_length"]

In [117]:
my_pd["char_length"].std()

1.707825127659933

In [ ]:
#data slicing, r/w to/from files